<li id="comment-<%= comment._id %>">
    <p>
        <p style="display: block;"><%= comment.content %>
            <br>
            <small>
                <%= comment.user.name %>
            </small>
            </p>
            <% if (locals.user && locals.user.id == comment.user.id) { %>
                <p><a href="/comments/destroy/<%= comment.id %>">Delete</a></p>
                <% } %>
    </p>
</li>