<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <form action="/user/create" method="post">
            <p>Name &nbsp; <input type="text" name="name" id="" required></p>
            <p>Email-id &nbsp;<input type="email" name="email" id="" required></p>
            <p>Password &nbsp;<input type="password" name="password" id="" required></p>
            <button type="submit">Sign-up</button>
        </form>
    </body>
</html>