<!-- <html>
    <head>
        <title> <%= title %></title>
    </head>
    <body>
        <%- include('_header.ejs'); %> -->
        <link rel="stylesheet" href="/css/user.css">
        <h1>User's Profile</h1>
        <!-- <%- include('_footer.ejs'); %>
    </body>
</html> -->