<html>
    <head>
        <title> <%= title %></title>
    </head>
    <body>
        <header>
            Page header
        </header>
        <h1>User's Profile</h1>
        <footer>
            Page footer
        </footer>
    </body>
</html>